body {
  background-color: #ee7ba9;
  border: none;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #ec2884ed;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
  text-decoration: underline;
}
p {
  color: white;
  text-align: left;
  font-size: 22px;
  margin-left: 20px;
}

img {
  height: 12%;
  width: 12%;
  display: block;
  margin: auto;
  border-radius: 20px;
}
.biodata p {
  color: white;
  text-align: left;
  font-size: 20px;
}

h2 {
  background-color: #ec2884ed;
  color: white;
  text-align: left;
  padding-left: 20px;
}

.hobi ol {
  color: white;
  font-size: 20px;
}
